.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.input {
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  color: blueviolet;
  margin-bottom: 30px;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.link {
  height: 50px;
  font-size: 26px;
  color: white;
  position: relative;
}

.link:hover {
  color: #fce38a;
}

.link:hover::after {
  transition: opacity 0.2s linear;
  opacity: 1;
}

.link::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  display: flex;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  margin: 0 auto;
  opacity: 0;
}
.li:not(:last-child) {
  margin-bottom: 10px;
}
